// Site container

.container {
  width: 100vw;

  a {
    text-decoration: underline;
  }
}
.content-wrapper {
  padding-top: $header-thickness + 10px;
  margin: 0 0 0 16px;
  display: block;
  width: $container-width - 20px;
}
.content-wrapper h1 {
  margin: 20px 0 5px;
}
@media (max-width: $container-width) {
  .content-wrapper {
    width: 95vw;
  }
}
