// Table of Contents customisations

$toc-border-color: rgb(64, 64, 64);
$toc-header-text-color: rgb(128, 128, 128);

.section-nav {
  display: block;
  border: 1px solid $toc-border-color;
  margin-left: 0;
  margin-bottom: 2em;
  padding-left: 2em;
  padding-bottom: 0.5em;

  ul {
    margin: 0.5em 1em;
  }
  li {
    margin: 0.5em;
  }
}

.section-nav::before {
  display: block;
  color: $toc-header-text-color;
  background: $toc-border-color;
  content: 'Table of Contents';
  font-weight: bold;
  font-variant: small-caps;
  margin-left: -2em;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}
